@tailwind base;
@tailwind components;
@tailwind utilities;


#root {


    width: 100vw;

    height: 100svh;

}


::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #009afc;
}